.page {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: #2A2C2F;
    margin: 0 auto 0 auto;
    max-width: 1280px;
    min-width: 320px;
    text-rendering: optimizeLegibility;
}

