.places {
    max-width: 100%;
    margin: 92px 148px 0 148px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1280px) {
    .places {
        margin: 92px 48px 0 48px;
    }    
}

@media screen and (max-width: 1024px) {
    .places {
        margin: 88px 24px 0 24px;
    }    
}

@media screen and (max-width: 767px) {
    .places {
        margin: 64px 16px 0 16px;
    }    
}
