.footer__copyright {
    justify-self: end;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 114%;  
}

@media screen and (max-width: 767px) {
    .footer__copyright {
        justify-self: start;
        line-height: 100%;
        margin-top: 16px;
    }
    
}
