.cover {
    position: relative;
    width: 1184px;
    height: 740px;
    margin: 92px auto 0 auto;
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    background-position: center;    
    z-index: 0;
}

