.cover {
    max-width: 1184px;
    margin: 92px auto 0 auto;
    background-image: url('../images/cover-trains.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}

@media screen and (max-width: 767px) {
    .cover__link {
        margin-top: 66px;
    }
}
