.place {
    margin-top: 80px;
    display: grid;
    grid-template-areas:
        "title website"
        "image text-area";
    grid-column-gap: 40px;
    grid-row-gap: 48px;
}

.place:first-of-type {
    margin: 0;
}