.footer {
    max-width: calc(100% - 2*48px);
    margin: 92px auto 24px auto;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: calc(100% - 2*24px);       
    }    
}

@media screen and (max-width: 700px) {
    .footer {
        max-width: calc(100% - 2*16px);
        flex-direction: column;
        margin-top: 64px;
    }
}

